<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>회원가입</title>
</head>
<body>
<form name='form_join' action="/{{jinja_data.prefix_promised}}/member/join2" method="post" autocomplete="off">
    <!-- __________________________________________________________________________________________________________________________________ 회원가입 처리  s -->
    <div>
        <label for="link2023111115e06">이름</label>
        <input type="text" name="name" id="link2023111115e06" value="{{  jinja_data.name  }}">
    </div>

    <div>
        <label for="link202311111504">아이디</label>
        <input type="text" name="id" id="link202311111504" value="{{  jinja_data.id }}">
    </div>

    <div>
        <label for="link202311111507">전화번호</label>
        <input type="text" name="phone_no" id="link202311111507" value="{{  jinja_data.phone_no }}">
    </div>

    <div>
        <label for="link202311111505">이메일</label>
        <input type="text" name="e_mail" id="link202311111505" value="{{  jinja_data.e_mail }}">
    </div>

    <div>
        <label for="link20231112120141">비밀번호</label>
        <input type="text" name="pw" id="link20231112120141" value="{{  jinja_data.pw  }}">
    </div>
    <div>
        <label for="link20231112120142">비밀번호 확인</label>
<!--        <input type="text" name="pw2" id="link20231112120142" value="{{  jinja_data.phone_no }}">-->
        <input type="text" name="pw2" id="link20231112120142" value="{{  jinja_data.pw }}">
    </div>

    <div>
        <label for="link202311111508">주소</label>
        <input type="text" name="address" id="link202311111508" value="{{  jinja_data.address }}">
    </div>

    <div>
        <label for="link202311111509">생년월일</label>
        <input type="text" name="birthday" id="link202311111509" value="{{  jinja_data.birthday }}">
    </div>

    <button type="submit">회원가입</button>
</form>
<!-- __________________________________________________________________________________________________________________________________ 회원가입  처리 e -->
<!--  <input type="button" name="button-to-go-to-login" id="link202311111506" value="네이버로 회원가입">-->
<!--  <input type="button" name="button-to-go-to-login" id="link2023111115062" value="카카오로 회원가입">-->
<!--<input type="button" name="button-to-go-to-login" id="link2023111115061" value="뒤로가기" onclick="window.history.go(-1)">-->
<input type="button" name="button-to-go-to-login" id="link2023111115061" value="홈으로" onclick="window.location.href='/{{jinja_data.prefix_promised}}/member'">
</body>
</html>