<!DOCTYPE html>
<html>
<head>
    <title>시작은 심플</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <div>request : {{ request }}</div>
    <div>msg : {{ msg }}</div>
    <div>status_code : {{ status_code }}</div>
    <div>window_location_href : {{ window_location_href }}</div>
    <div>exc_errors : {{ exc_errors }}</div>
    <div>exc_body : {{ exc_body }}</div>
</body>
</html>
<script>
        //alert('{{ msg }}');
        setTimeout(function() {
                window.location.href="{{ window_location_href }}"
        }, 10000);
</script>